{
    "extends": ["eslint:recommended", "google"],
    "env": {
        "browser": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module"
    },
    "plugins": ["html"],
    "rules": {
        "linebreak-style": 0,
        "require-jsdoc": "off",
        "new-cap": [
            2,
            {
                "capIsNewExceptionPattern": "Mixin$"
            }
        ],
        "max-len": ["error", { "code": 320 }]
    },
    "settings": {
        "html/indent": "+2",
        "html/report-bad-indent": 2
    },
    "globals": {
        "customElements": false,
        "Polymer": false,
        "_": true
    }
}
