# Created by .ignore support plugin (hsz.mobi)

# modules
/functions/node_modules
/node_modules/

# env editor
.idea/*
.vscode/*
.DS_Store

# lock
yarn.lock
package-lock.json
/functions/package-lock.json
/functions/yarn.lock

# error Files
yarn-error.log
/functions/yarn-error.log
npm-debug.log

# build
build/*
!build/build.xml

# firebase
firebase-debug.log
.firebaserc

# env
.env