# modules
/functions/node_modules
/node_modules/

# env editor
.idea/*
.vscode/*
.DS_Store

# error Files
yarn-error.log
/functions/yarn-error.log
npm-debug.log

# build
build/*
!build/build.xml

# env
.env

# tests
test/integration/screenshots-current
