# modules
/functions/node_modules
/node_modules/

# env editor
.idea/*
.vscode/*
.DS_Store

# error Files
yarn-error.log
/functions/yarn-error.log
npm-debug.log

# build
build/*
server/build/*
!build/build.xml

# dist
dist/*
server/dist/*


# env
.env

# tests
test/integration/screenshots-current
